# --- KİMLİK DOĞRULAMA (AUTH) ---
SECRET_KEY=7354f467ce61e798ee827208c3f9131a5a91b0c27bd4ff9cd6a7b715f3836b5b
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
# Kullanıcı ve Auth işlemleri için
AUTH_DATABASE_URL=sqlite:///./auth_app.db
# Etkinlik ve Bilet işlemleri için
EVENT_DATABASE_URL=sqlite:///./events.db
UPLOAD_DIR=static/event_images